GROQ_API_KEY=
GROQ_BASE_URL=https://api.groq.com/openai/v1
GROQ_DEEPEVAL_BASE_URL=https://api.groq.com
USER_AGENT=RAGAssistantBeton/1.0
WEB_URLS=https://comandabeton.besmartit.ro/sell.json
USE_MODEL_URL=https://tfhub.dev/google/universal-sentence-encoder/4
